*.DS_Store
*.pyc
100features_20context_20mincount_zht*

ipem_module/dev_src/*.dat
*.exe

card_game/scripts/\.idea/workspace\.xml

card_game/scripts/\.idea/

*.mp3

card_game/scripts/log/

card_game/scripts/static/images/
