<launch>

  <include file="$(find binaural_microphone)/launch/sine_sweep.launch" />

  <include file="$(find ipem_module)/launch/basic.launch" />

  <node ns="ipem_module" name="IPEM_visualize_stat" pkg="ipem_module" type="IPEM_visualize_stat.py" output="screen" />

  <!-- RViz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ipem_module)/rviz/show_marker.rviz" />

</launch>
