<!DOCTYPE html>
<html>

<head>
	<title>Card Game</title>
	<style>
		#header {
			background-color: #00FFFF;
			color: white;
			text-align: center;
			font-size: 50px;
			font-weight: bold;
		}
/*		#content {
			align-items: center;
			padding: 30px
		}*/
		#textBox{
			font-size: 100px;
			border-style: double;
			margin: 20px 300px 20px;
		}
	</style>
</head>

<body style="margin:0px;">

<!--
<img id="apple" width="300" height="400" src="pic/apple.png" alt="The Scream">
-->

<div id="header">Card Game</div>


<!-- <div align=center id="content">

<canvas id="card0" width="300" height="400" style="border:1px solid #d3d3d3;">
Your browser does not support the HTML5 canvas tag.
</canvas>

<canvas id="card1" width="300" height="400" style="border:1px solid #d3d3d3;">
Your browser does not support the HTML5 canvas tag.
</canvas>

<canvas id="card2" width="300" height="400" style="border:1px solid #d3d3d3;">
Your browser does not support the HTML5 canvas tag.
</canvas>

<canvas id="card3" width="300" height="400" style="border:1px solid #d3d3d3;">
Your browser does not support the HTML5 canvas tag.
</canvas>

</div> -->
<div align=center id="content">
</div>
<div>
<p id="textBox" align=center>Hello</p>
</div>

<!-- <script language="JavaScript" src="websoc.js"></script> -->
<script language="JavaScript" src="/static/cardgame.js" data-address ="{{address}}"></script>


</body>
</html>