<launch>

  <!-- List of drivers  
    - Intel realsense r200 camera
    - Binaural microphone
    - Keyboard IO
  -->
  <include file="$(find tb3_demo)/launch/cnrg_tb3_drivers.launch" />
  
  <!-- Anomaly detection-->
  <include file="$(find acoustic_anomaly)/launch/publish_acoustic_anomaly.launch" />

  <node name="rviz" pkg="rviz" type="rviz" />

</launch>
