<launch>

  <arg name="camera" default="camera" />
  
  <!-- Realsense r200 camera -->
  <include file="$(find realsense_rgbd_camera)/launch/r200_camera_driver.launch">
    <arg name="$(arg camera)" default="camera"/>  
  </include>

  <!-- Binaural microphone -->
  <include file="$(find binaural_microphone)/launch/basic.launch" />

  <!-- Keyboard IO -->
  <include file="$(find keyboard_io)/launch/text_analysis.launch" />

</launch>
