<launch>
  
  <!-- Args for modules -->
  <arg name="launch_anomaly" default="true"/>
  <arg name="launch_people_detect" default="false"/>

  <!-- Args for driver -->
  <arg name="launch_r200" default="false"/>
  <arg name="launch_keyboard_io" default="false"/>
  <arg name="launch_logitech" default="true"/>
  <arg name="launch_microphone" default="true"/>
  
  <arg name="nodelet_manager" default="/realsense/camera/camera_nodelet_manager"/>

  <arg name="rviz" default="false"/>

  <!-- List of drivers  
    - Intel realsense r200 camera
    - Binaural microphone
    - Keyboard IO -->
  <include file="$(find tb3_demo)/launch/cnrg_tb3_drivers.launch.xml">
    <arg name="launch_r200" value="$(arg launch_r200)"/>
    <arg name="launch_keyboard_io" value="$(arg launch_keyboard_io)"/>
    <arg name="launch_logitech" value="$(arg launch_logitech)"/>
    <arg name="launch_microphone" value="$(arg launch_microphone)"/>
  </include>
  
  <!-- Modules
    - Anomaly detection
    - RGB-D people detection -->

  <!-- Anomaly detection -->
  <include file="$(find acoustic_anomaly)/launch/publish_acoustic_anomaly.launch" if="$(arg launch_anomaly)"/>

  <!-- RGB-D people detection -->
  <include file="$(find turtlebot_follower_tracker)/launch/people_detection_nodelet.launch" if="$(arg launch_people_detect)">
    <arg name="input" value="/realsense/camera/depth/points"/>
    <arg name="nodelet_manager" value="$(arg nodelet_manager)"/>
  </include>

  <!-- RViz -->
  <node name="rviz" pkg="rviz" type="rviz" if="$(arg rviz)"/>

</launch>
