#!/usr/bin/env python
from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

'''
angle_enum = gen.enum([gen.const("90", int_t, 90, "left most"),
                       gen.const("60", int_t, 60, "60 degree to the left"),
                       gen.const("30", int_t, 30, "30 degree to the left"),
                       gen.const("0",  int_t, 0,  "front"),
                       gen.const("330", int_t, 330, "30 degree to the right"),
                       gen.const("300", int_t, 300, "60 degree to the right"),
                       gen.const("270", int_t, 270, "right most"),
                      ],
                     "supported angles")
'''


gen.add("angle", int_t, 0, "Play the wave file with this specific angle.", 3, 0, 6)
gen.add("file_path_name", str_t, 0, "The path and name of the wave file to play.", 'wave_stereo_db/coffee')

# gen.add("double_param", double_t, 0, "A double parameter",    .5, 0,   1)
# gen.add("str_param",    str_t,    0, "A string parameter",  "Hello World")
# gen.add("bool_param",   bool_t,   0, "A Boolean parameter",  True)

# gen.add("size", int_t, 0, "A size parameter which is edited via an enum", 1, 0, 3, edit_method=size_enum)

exit(gen.generate("binaural_microphone", "wave_stereo", "waveStereo"))
